<p id="notice"><%= notice %></p>

<p>
  <strong>Vendorname:</strong>
  <%= @vendor.vendorname %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @vendor.products.each do |_|  end %>

</p>

<p>
  <strong>Productprice:</strong>
  <%= @vendor.products.each do |_|  end %>

</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
